# .DS_Store
.DS_Store

# Editor
.vscode

# Jupyter Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__
**.pyc

# Misc project files/folders to exclude
**/archive
**/misc
data-visualization/project/files
**/maildir
**/emails_by_address
**.zip
**.tgz
**.doc*
**phx.json
**phx.osm